<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      .signUpForm {
        margin: auto;
        text-align: center;
      }
      .container {
        margin: auto;
        text-align: center;
        border-bottom: .2em solid black;
        padding-bottom: 5em;
        width: 100%;
      }
      #recentEntriesText{
        margin: auto;
        text-align: center;
      }
      table {
        margin: auto;
        margin-top: 5em;
        text-align: center;
      }
      .headerName{
        text-align: center;
      }
      .headerDate{
        text-align: center;
      }
      .headerAmount{
        text-align: center;
      }
    </style>
    <% include header %>
  </head>



  <body>
    <% include navbar %>
        <div class ="signUpForm">
            <form action="/addExpense" method="post">
          <div class="col-12">
            <h1 class="setUpHeader">Add Expenses</h1>
          </div>
          <div class ="col-12">
            <input class="form name" placeholder="Name" name="name" />
            <input class="form date" type="date" placeholder="Date" name="date" />      
          </div>
          <div class="col-12">
            <input class="form amount" placeholder="Amount" name="amount" />
          </div>
          <div class="col-12">
            <button class="btn btn-success register">Add Expense</button>
            
          </div>
        </form>
        <a href="/infoPage"><button class=" btn btn primary">Back to Home</button></a>
        </div>
        <table style="width:100%">
                <tbody>
                  <%results.forEach((expense)=>{%>
                <tr>
                  <td><%=expense.name%></td>
                  <td><%=expense.date%></td>
                  <td><%=expense.amount%></td>
                  <%})%>
                </tr>
              </tbody>
            </table>
      </div>

      <div class="container">
        <table style="width:100%">
            <tbody>
              <tr>
                <th></th>
                <th id="recentEntriesText">Recent Entries</th>
                <th></th>
              </tr>
              <tr class="tableRow">
                <th class="headerName">Name</th>
                <th class="headerDate">Date</th>
                <th class="headerAmount">Amount</th>
              </tr>
              <%results.forEach((expense)=>{%>
            <tr>
              <td><%=expense.name%></td>
              <td><%=expense.date%></td>
              <td><%=expense.amount%></td>
              <%})%>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>
